[submodule "MetaPhoto.spa"]
	path = MetaPhoto.spa
	url = https://github.com/nxsaloj/MetaPhoto.spa
[submodule "MetaPhoto.backend"]
	path = MetaPhoto.backend
	url = https://github.com/nxsaloj/MetaPhoto.backend
